.main_chat__message-list__MsgBox{data: {message: {id: message.id}}}
  .main_chat__message-list__member
    = message.user.name
    %span.main_chat__message-list__member__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main_chat__message-list__message
    - if message.body.present?
      %p.main_chat__message-list__message__content
        = message.body
    = image_tag message.image.url, class: 'main_chat__message-list__message__img' if message.image.present?